/*************************
    name:base.scss
    This file includes the common variables entities
    contents
    1.colors.
    2.fonts.
 *************/

//  1.colors
$styles-color-white: #fff;
$styles-color-green--sharp: #0f4053;
$styles-color-blue--cloud: #3b62b2;

// 2. fonts
$styles-font--family-default: Avenir, Helvetica, Arial, sans-serif;

$styles-font--size-default: 20px;
