/*************************
    name:base.scss
    This file includes the common variables entities
    contents
    1.colors.
    2.fonts.
 *************/

//  1.colors
$styles-color--green-sharp: #0f4053;

// 2. fonts
$styles-font--size-default: 'Open Sans', sans-serif;
$styles-font--family-montserrat: 'Montserrat', sans-serif;

$styles-font--size-basic: 18px;
