/*************************
    name:base.scss
    This file includes the common variables entities
    contents
    1.colors.
    2.fonts.
 *************/

//  1.colors
$styles-color-white: #fff;
$styles-color-gray-light: #c9c9c9;
$styles-color-gray-medium: #f4f4f4;
$styles-color-gray-dull: #e8e8e8;
$styles-color-cement-white: #dadada;
$styles-color-cement-gray:#828282;
$styles-color-green--sharp: #0f4053;
$styles-color-blue--cloud: #3b62b2;
$styles-color-blue--penguin:#6a9bff;
$styles-color-green--peach: #46c4ba;
$styles-color-black--light: #505050;
$styles-color-red-safron: #ff1c1c;
// 2. fonts
$styles-font--family-default: Avenir, Helvetica, Arial, sans-serif;

$styles-font--size-default: 20px;
